.forgot-container {
    width: 400px;
    margin: 100px auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f4f4f4;
}

input,
button {
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #2ecc71;
}


.back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 18px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.back-button:hover {
    background-color: #0056b3;
}