body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #ae91db, #ab9c9c);
}

.white-text {
    color: white !important;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.btn {
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 30px;
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}