<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='forgot.css') }}">
</head>

<body>
    <a href="{{ url_for('login') }}" class="back-button">Back</a>
    <div class="forgot-container">
        <h2>Forgot Password</h2>
        <input type="text" id="phone" placeholder="Enter your registered mobile number" autocomplete="off" required>

        <button type="button" id="getOtpBtn">Get OTP</button>

        <div class="otp-section" style="display:none;">
            <label>Enter OTP:</label>
            <input type="text" id="otp" maxlength="6" placeholder="6-digit OTP" autocomplete="off" required>
            <button type="button" id="verifyOtpBtn">Verify OTP</button>
        </div>

        <div class="reset-section" style="display:none;">
            <input type="password" id="newPassword" placeholder="Enter new password" autocomplete="new-password"
                required>
            <button type="button" id="resetBtn">Reset Password</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='forgot.js') }}"></script>
</body>

</html>